{% extends 'base.html' %} {% block content %}
<style>
  * {
    font-family: "Rubik", sans-serif;
  }
  a {
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }

  i {
    font-size: 2em;
    float: left;
    margin-left: 2%;
  }
  body {
    background: linear-gradient(-45deg, #00fff2, #2a62ff, #973dfd, #ffc400);
    background-color: #e6e6e6;
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    display: flex;
    align-items: center;
  }
  .container {
    max-width: 700px;
    width: min(500px, 70%);
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin-top: 100px;
  }
  .form__input {
    font-family: "Rubik", sans-serif;
    padding-bottom: 1px;
    padding-right: 50px;
    padding-left: 5px;
    background-color: rgb(243, 243, 243);
    font-size: 15px;
    border-color: rgb(251, 252, 252);
    border: 1px;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    flex: 1;
    width: 100%;
  }

  .submit_picture {
    margin-bottom: 0px;
    padding: 0%;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 80% 40%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  h1 {
    color: black;
    display: flex;
  }

  .neuraltrain {
    font-family: "Rubik", sans-serif;
  }

  h3 {
    color: black;
  }
  h4 {
    color: black;
  }
  a {
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: black;
  }
  label {
    color: black;
  }
  #id_profile_image {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .bi.bi-question-circle {
    cursor: pointer;
  }

  .bi.bi-heart {
    cursor: pointer;
  }
  .button {
    height: 45px;
    margin: 45px 0;
    margin-top: 2px;
    /* transition:0.5s all; */
    /* background: linear-gradient(-45deg, #00adb3, #0052e9, #001f58); */
    border-radius: 5px;
    cursor: pointer;
    background-color: #973dfd;
  }
  .button {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 500;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 0%;
    border-radius: 5px;
  }

  .form-floating.mb-3 {
    display: flex;
    text-align: center;
  }

  #id_post_image {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
</style>
<div class="container">
  <div class="container-fluid justify-content-center">
    <h1>Post</h1>
  </div>
  <div class="user_details">
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- {% for field in post_form %}
			<div class="form-floating mb-3">
				{{ field.errors }}
					{{ field }}
			</div>
		{% endfor %} -->
      <div class="form-floating mb-3">
        <input
          type="text"
          name="caption"
          maxlength="60"
          autofocus
          required
          id="id_caption"
          id="caption"
          class="form__input"
          placeholder="caption"
        />
      </div>
      <div class="form-floating mb-3">
        <input
          type="file"
          name="image"
          required
          id="image"
          id="id_post_image"
          class="form__input"
        />
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          name="question"
          maxlength="30"
          required
          id="id_question"
          id="question"
          class="form__input"
          placeholder="question"
        />
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          name="option1"
          maxlength="30"
          required
          id="id_option1"
          id="option1"
          class="form__input"
          placeholder="option 1"
        />
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          name="option2"
          maxlength="30"
          required
          id="id_option2"
          id="option2"
          class="form__input"
          placeholder="option 2"
        />
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          name="option3"
          maxlength="30"
          id="id_option3"
          id="option3"
          class="form__input"
          placeholder="option 3"
        />
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          name="correct_answer"
          maxlength="30"
          required
          id="id_correct_answer"
          id="username"
          class="form__input"
          placeholder="correct answer"
        />
      </div>
      <input type="submit" name="Register" class="button" value="Post    " />
    </form>
  </div>
</div>
{% endblock %}
